body {
font-family: "Roboto", sans-serif;
}
form {
    display: block;
}
h1 {
    margin-top: 8px;
    margin-bottom: 8px;
}
a {
    text-decoration: none;
}
hr {
    margin: 15px 0;
}
.wrapper {
    margin: 100px auto;
    max-width: 500px;
}
.weather-app {
    border: 1px rgba(128, 128, 128, 0.619) solid;
    border-radius: 5px;
    padding: 15px;
    background: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);
    box-shadow: 4px 4px 28px rgba(128, 128, 128, 0.242);
}
.button {
display: inline-block;
margin-left: 10px;
padding: 4px 5px;
border: 1px solid gray;
border-radius: 5px;
color: white;
background-color: #507D95;

}
.button:hover {
    background-color: #004E71;
    color: white;
    transition: all ease-in-out 200ms;
}
.search-button {
    padding: 4px 10px;
}

.form-control {
    max-width: 300px;
    display: inline-block;
    color: #507D95;
}
.main-temp {
    line-height: 69px;
    font-size: 50px;
}
.main-units {
    font-size: 18px;
    line-height: 47px;
}
.current-date,
.description,
.prec-hum-wind {
    color:#004E71;
}
.current-day-time {
    margin-top: 3px;
    position: relative;
    bottom: -3px;
}
.col-5-2 {
    padding: 13px 12px;
}
.main-units .active {
    color: black;
    cursor: default;
}
.main-units .active:hover {
    text-decoration: none;
}

.weather-forecast {
    text-align: center;
}
.future-day {
    font-size: 15px;

}
.future-min-temperature {
    color:#004E71;
}

